.App {
  display: flex;
  flex-direction: column;
  width:100vw;
  height: 100vh;
  justify-content: flex-start;
  align-items: center;

  background-color: #f2f4f7;

  background-image: url("./campus.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  background-color: #002f86 ;
  height: 80px;
  flex: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: 24px;
  color: white;
  padding-left: 25px;

  box-sizing: border-box;
  position: absolute;
  top: 0;

  width: 100%;
}

.home-link {
  color: white;
  text-decoration: none;
}


.subheader {
  min-height: 80px;
  background-color: white;
  flex: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #486581;
}

#search-bar {
  height: 45%;
  width: 50%;
  display: flex;
  flex-direction: row;
  border-radius: 50px;
  transition: all 0.2s ease;
}

#search-bar:focus-within {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#search-bar input {
  border-radius: 50px 0 0 50px;
  font-size: 16px;
  height: 100%;
  width: 100%;
  background-color: #F8F9FB;
  border: 1px solid #829AB1;
  border-right-style: hidden;
  outline: none;
  padding: 0 20px 0 20px;

  transition: all 0.2s ease;
}

#search-bar:focus-within input {
  background-color: white;
  border: 1px solid #486581;
  border-right-style: hidden;
}

#search-bar button {
  height: 100%;
  width: 60px;
  border-radius: 0 50px 50px 0;
  color:white;
  border: 1px solid #829AB1;
  background-color: #0087c2;
  line-height: 100%;
  font-size: 16px;
  text-align: center;

  transition: all 0.2s ease;
}

#search-bar:focus-within button {
  border: 1px solid #486581;
  background-color: #0075a8;
}

#search-bar:focus-within button:hover {
  background-color: #0087c2;
}

#search-bar button:hover {
  cursor: pointer;
  background-color: #0075a8;
}

.main-view {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  width:100%;
  height: 100%;
  background-color: #f2f4f7;
  /* box-shadow: 0px 0px 200px rgba(0, 0, 0, 0.25); */
  padding-top: 80px;
  box-sizing: border-box;
}

.drive-file-list {
  display: flex;
  flex-direction: column;
  align-items: center;  
  overflow-y: scroll;
  height: 100%;
  padding: 25px 25px 0px 25px;
}

.file-result {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin: 10px;
  margin-left: 9px;
  background-color: white;
  width: 100%;
  text-decoration: none;
  color: #102A43;

  border: 1px solid #D9E2EC;
}

.file-result:last-child {
  margin-top: 25px;
  height: 25px;
  width: 100%;
  display: block;
}

.file-result:hover {
  border: 1px solid #9FB3C8;
  border-left: 10px solid #0087c2;
  margin-left: 0px;
}

.file-thumbnail {
  width: 100px;
  height:100px;
  flex: none;
}

.file-info {
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-between;
  padding-left: 10px;
}

.file-name {
  font-size: 18px;
}

.file-date {
  color: #486581;
  font-size: 16px;
}

.subheader .file-name {
  font-size: 22px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.pdf-frame {
  width: 100%;
  height: 100%;
  border: none;
}

.header-logo {
  width:26px;
  height: 40px;
  margin-right: 20px;
}

.header-text {
  opacity: 50%;
}

.home-link {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  margin-right: 10px;
  outline: none;
  box-sizing: border-box;
}

.home-link:hover {
  border-bottom: 5px solid white;
  border-top: 5px solid transparent;
}

.print-link {
  background-color: #0087c2;
  color: white;
  text-decoration: none;
  font-size: 18px;
  height: 36px;
  line-height: 36px;;
  font-weight: normal;
  padding: 0 20px 0 20px;
  border-radius: 50px;
}

.print-link::before {
  content: "🖶";
  display: inline-block;
  border-right: 10px solid transparent;
}

.print-link::after {
  content: " Document";
  display: inline-block;
  white-space: pre;
}

@media only screen and (max-width: 550px) {
  .print-link::after {
    content: none;
  }
}

@media only screen and (max-width: 720px) {
  #search-bar {
    width: 90%;
  }
}