.App {
  display: flex;
  flex-direction: row;
  width:100%;
  height: 100%;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.drive-file-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f4f7;
  width: 940px;
  height: 100vh;
  padding: 5px 10px 5px 10px;
}

.file-result {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  background-color: white;
  width: 720px;
  text-decoration: none;
  color: #102A43;
}

.file-thumbnail {
  width: 100px;
  height:100px;
}

.file-info {
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-between;
  padding-left: 10px;
}

.file-name {
  font-size: 18px;
}

.file-date {
  color: #486581;
  font-size: 16px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
